* {box-sizing:border-box}

h1 {
    margin: 30px 0 10px; 
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}

#navBar ul {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

#navBar li {
    float: left;
}

#navBar li a {
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    color:darkred;
    text-shadow: 0 0 4px rgb(105, 9, 214);
    text-align: center;
    transition: .4s ease;
}

#navBar li a:hover, .active {
    background-color: rgb(238, 206, 23);
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 10px;
  padding: 5px 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 3px black;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}